/btvn_b1/nbproject/private/
/btvn_b1/build/
/btvn_b2/nbproject/private/
/btvn_b2/build/
/BTVN_Buoi2/nbproject/private/
/BTVN_Buoi2/build/
/huongdoituong_b1/nbproject/private/
/huongdoituong_b1/build/
/Btvn_b3/nbproject/private/
/Btvn_b3/build/
/BTVN_B/nbproject/private/
/BTVN_B/build/
/BTVN_B3/build/
/BTVN_B3/nbproject/private/
